body {
    margin: 0;
    padding: 0;
    background-color: brown;
    font-family: sans-serif;
}

header nav {
    width: 100;
}

header nav ul {
    list-style: none;
}

header ul li {
    text-transform: uppercase;
    color: beige;
    border: 2px solid beige;
    text-align: center;
    font-weight: 600;
    background-color: burlywood;
}

main {
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: beige;
    font-weight: 600;
}

h2 {
    color: beige;
}

p {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    height: 50px;
}

button {
    padding: 20px 40px;
    background-color: beige;
    border-radius: 5px;
}

button:hover {
    background-color: #f0e68c;
    padding: 30px 50px;
    border: 2px solid #f0e68c;
    transform: ease-in-out 0.3s;
    cursor: pointer;
}

button:active {
    background-color: beige;
    border: 2px solid beige;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: beige;
}

ul li {
    list-style: none;
}

img {
    padding-bottom: 10px;
    margin: 0 auto;
}